[submodule "sources/deepin-desktop-environment"]
	path = sources/deepin-desktop-environment
	url = https://github.com/deepin-community/deepin-desktop-environment
[submodule "sources/deepin-installer-reborn"]
	path = sources/deepin-installer-reborn
	url = https://github.com/martyr-deepin/deepin-installer-reborn
[submodule "sources/default-settings"]
	path = sources/default-settings
	url = https://github.com/linuxdeepin/default-settings
[submodule "sources/dde-kwin"]
	path = sources/dde-kwin
	url = https://github.com/linuxdeepin/dde-kwin
[submodule "deepin-installer-reborn"]
	url = https://github.com/deepin-community/deepin-installer-reborn
[submodule "sources/golang-codegangsta-cli"]
	path = sources/golang-codegangsta-cli
	url = https://github.com/deepin-community/golang-codegangsta-cli
